
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = {  
      "quantum-server": { "unique": true, "count": 3 }
    };
    node_selector($('#drag_drop'), constraints);
  });

